.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #c1b8b7ea; /* EarthRise yellow */
  color: rgb(255, 255, 255);
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo-img {
  height: 40px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.navbar-links a:hover {
  text-decoration: underline;
  opacity: 0.85;
}
